extends layout
block content
    a(href="http://github.com/dittmaraz") dittmaraz
    hr.my-4
    a(href="http://localhost:3000/api/set") 
    br
    br
    if clipboardRecords.length
      table.listing-table.table-dark.table-striped
        tr
          th Content
          th Date
          th Device
        each cliprec in clipboardRecords
          tr
            td= cliprec.content
            td= cliprec.eventDate.toDateString()
            td= cliprec.device
    else
      p No registrations yet :(